body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.post{
  word-wrap: break-word;
}

.imagemarg {
  margin: 0 5px 0 0;
  max-height: 200px;
  max-width: 200px;
}

.cardpad {
  padding: 0;
}

.margin10 {
  margin: 10px;
}

.bottom-margin {
  margin-bottom: 5px;
}

.header {
  font-size: 14px;
  padding: 3px;
}

.collapse {
  display: none
}

.collapse.in {
  display: block
}

.float-reply {
  /*position: -webkit-sticky; !* Safari *!*/
  /*position: sticky;*/
  top: 200px;
  color: black;
  background: #000;
}
